@top-margin: 80px;
.section-front-page .custom-theme-marker {
    display: block;
}


/* TinyMCE templates */

// image-grid-2x2:
.image-grid-2x2 {
    padding: 0;
    margin: 0 0 @grid-gutter-width 0;
    list-style: none;
    .make-row();
    > li {
        .make-xs-column(12);
        .make-sm-column(6);
        margin-top: @grid-gutter-width;
        img {
            max-width: 100%;
            max-height: 100%;
        }
    }
}

.outer-wrapper {
    .navbar {
        display: flex;
        flex-wrap: wrap;
        z-index: 50;
        border-radius: 0;
        box-shadow: none;
        border: none;
        left: inherit;
        right: inherit;
        width: 100%;

        .navbar-brand {
            float: none;
            flex: 1;
            width: 100%;
        }
        .navbar-nav {
            flex: 1;
        }
        ul {
            list-style: none;
        }
    }
    main {
        &.container {
            width: 100%;
            padding: 0;
        }
        .carousel-inner {
            > .item {
                img {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
}

// This is for the control panel, b/c all span.labels are white on a white background
// This may be need to reset for non-control panel labels
span.label {
    color: #333;
}

@media (min-width: 1112px) {
    // .plone-toolbar-left-expanded {
    //     .container {
    //         width: 100%;
    //         .col-lg-12 {
    //             padding: 0;
    //         }
    //     }
    // }
}
